.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #C7B198;
    color: white;
    font-family: "Baloo 2", sans-serif;
    font-size: 3rem;
    font-weight: 600;

}